alive-progress
apache-beam
black
ciclo>=0.1.8
clu
diffrax
dill
flax
jax
jax-models
jax-soft-robot-modelling>=0.3
matplotlib
natsort
numpy
opencv-python
optax
optuna
optuna-dashboard
orbax-checkpoint>=0.3.5
pytest
tensorboard
tensorflow  # required for tensorflow-datasets
tensorflow-datasets
tqdm
