alive-progress
black
ciclo>=0.1.8
clu
diffrax
dill
flax
jax
jax-models
jax-soft-robot-modelling
matplotlib
natsort
numpy
opencv-python
optax
optuna
optuna-dashboard
orbax-checkpoint
pytest
tensorboard
tensorflow  # required for tensorflow-datasets
tensorflow-datasets
tqdm
